@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* shared style */
.color-white {
    color: white;
}

.bg-black {
    background: rgba(0, 0, 0, 1);
}

.btn-primary {
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    padding: 8px 20px;
    color: white;
    background-color: #E6533C;
    border-radius: 46px;
}

.section-heading h2 {
    font-size: 3rem;
    margin-bottom: 14px;
}

.section-heading p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}


/* main style */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17) 0%, rgba(119, 119, 119, 0.541) 100%);
}

nav {
    width: 75%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 57px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.menu {
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 39px;
    padding: 12px 4px;
}

.menu ul {
    display: flex;
    gap: 47px;
}

.menu ul li {
    list-style: none;
    font-size: 1.125rem;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

#about {
    padding-right: 20px;
}

.menu-icon {
    display: none;
}

.banner {
    width: 72%;
    max-width: 1036px;
    margin: 20px auto;
    display: flex;
    gap: 88px;
    align-items: center;
}

.banner-content {
    max-width: 600px;
}

.banner-content h1 {
    font-size: 4.875rem;
    font-weight: 900;
    margin-bottom: 28px;
}

.banner-content p {
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.join-btn {
    padding: 16px 40px;
    margin-right: 16px;
}

.download-btn {
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid white;
    background-color: transparent;
    color: White;
    padding: 16px 40px;
    border-radius: 46px;
}

.banner-image {
    position: relative;
}

.banner-image img {
    vertical-align: middle;
}

.banner-image .badge {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    padding: 13px 25px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: -90px;
    top: 130px;
}

.banner-image .badge h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-image .badge p {
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.651);
}

.banner-image .badge2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 206px;
    height: 98px;
    padding: 20px 23px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    gap: 12px;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: -110px;
}

.banner-image .badge2 .circle {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

.banner-image .badge2 h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.banner-image .badge2 p {
    color: rgba(255, 255, 255, 0.651);
}

#habits {
    width: 72.5%;
    max-width: 1044px;
    margin: 80px auto 0;
    text-align: center;
}

#habits .section-heading {
    max-width: 671px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 58px;
}

.habit-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card {
    padding: 0 25.5px;
}

.habit-card img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-card h4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-card p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

#extra-mile {
    padding-top: 100px;
}

.extra-mile-container {
    width: 75%;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #222222;
    border-radius: 18px;
}

.extra-mile-container .section-heading {
    max-width: 443px;
    padding: 24px;
}

.extra-mile-container .section-heading p {
    margin-bottom: 34px;
}

.extra-mile-container .section-heading button {
    padding: 16px 71px;
}

.extra-mile-container img {
    width: 366px;
    height: 312px;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;
}

#Exercise {
    padding-top: 100px;
}

.exercises-container {
    width: 75%;
    max-width: 1060px;
    margin: 0 auto;
}

.exercises-container .section-heading {
    max-width: 671px;
    margin-bottom: 58px;
}

.exercise-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.exercise-images img:nth-child(2) {
    grid-column: span 2;
}

.exercise-images img:nth-child(4) {
    grid-column: span 2;
}

.exercise-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide {
    display: none !important;
}

/* responsiveness for small devices */
@media screen and (max-width:576px) {

    nav,
    .banner,
    #habits {
        width: 90%;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .banner {
        flex-direction: column;
        gap: 47px
    }

    .banner-content h1 {
        font-size: 2.25rem;
        font-weight: 900;
        margin-bottom: 28px;
        max-width: 285px;
    }

    #club {
        display: none;
    }

    .download-btn {
        padding: 16px 20px;
    }

    .banner-image .badge {
        right: -30px;
    }

    .banner-image .badge2 {
        left: -30px;
    }

    .habit-cards-container {
        grid-template-columns: 1fr;
    }

    .extra-mile-container {
        flex-direction: column;
        width: 90%;
    }

    .extra-mile-container .section-heading h2 {
        font-size: 2rem;
    }

    .extra-mile-container img {
        width: 100%;
    }

    .exercise-images {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    }

    .exercise-images img:nth-child(2) {
        grid-column: span 1;
    }

    .exercise-images img:nth-child(4) {
        grid-column: span 1;
    }
}


/* responsiveness for tablet device */
@media screen and (min-width:577px) and (max-width:992px) {

    nav,
    .banner,
    #habits {
        width: 90%;
    }

    .banner {
        flex-direction: column;
    }

    .habit-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .extra-mile-container {
        width: 90%;
    }

    .extra-mile-container .section-heading {
        padding: 0 10px;
    }

    .extra-mile-container img {
        width: 100%;
    }

}

/* responsiveness for large tablet device */
@media screen and (min-width:993px) and (max-width:1200px) {
    .habit-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}