@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* shared style */
.color-white {
    color: white;
}

.bg-black {
    background-color: black;
}

.btn-primary {
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    padding: 8px 20px;
    color: white;
    background-color: #E6533C;
    border-radius: 46px;
}       


/* main style */

nav {
    width: 75%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 57px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.menu {
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 39px;
    padding: 12px 4px;
}

.menu ul {
    display: flex;
    gap: 47px;
}

.menu ul li {
    list-style: none;
    font-size: 1.125rem;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

#about {
    padding-right: 20px;
}

.menu-icon {
    display: none;
}

.banner {
    width: 72%;
    max-width: 1036px;
    margin: 20px auto;
    display: flex;
    gap: 88px;
    align-items: center;
}

.banner-content {
    max-width: 600px;
}

.banner-content h1 {
    font-size: 4.875rem;
    font-weight: 900;
    margin-bottom: 28px;
}

.banner-content p {
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.join-btn {
    padding: 16px 40px;
    margin-right: 16px;                          
}

.download-btn {
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid white;
    background-color: transparent;
    color: White;
    padding: 16px 40px;
    border-radius: 46px;
}

.banner-image {
    position: relative;
}

.banner-image .badge {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    padding: 13px 25px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: -100px;
    top: 130px;
}

.banner-image .badge h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-image .badge p {
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.651);
}

.banner-image .badge2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 206px;
    height: 98px;
    padding: 20px 23px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    gap: 12px;
    align-items: center;
}

.banner-image .badge2 .circle {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}


/* responsiveness for small devices */
@media screen and (max-width:576px) {

    nav {
        width: 90%;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: inline;
    }
}


/* responsiveness for tablet device */
@media screen and (min-width:577px) and (max-width:992px) {
    
    nav {
        width: 90%;
    }

}